LINKEDIN_USERNAME=your_linkedin_username
LINKEDIN_PASSWORD=your_linkedin_password
LINKEDIN_PHONE_NUMBER=+1XXXXXXXXXX
LINKEDIN_LOCATION_COUNTRY=US
LINKEDIN_LOCATION_CITY="New York"
LINKEDIN_PROFILE_URL=https://www.linkedin.com/in/your-profile/
LINKEDIN_SALARY=180000
LINKEDIN_RATE=150
